.header {

	&__container {
		padding-top: 16px;
		padding-bottom: 17px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		border-bottom: 1px solid $second-color;

		@include mobile {
			padding-top: 12px;
			padding-bottom: 13px;
		}
	}

	&__navigation {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		margin-right: 54px;

		@include tablet {
			display: none;
		}
	}
}

